#container {
    margin-top: 170px;
    position: relative;
}
.sub_header {
    left: 0;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #e5e5e5;
    height: 59px;
    z-index: 5;
    position: absolute;
    background-color: transparent;
    margin: 0;
    padding: 0;
    line-height: 120%;
    
}