.eventPromotion_cate_wrap {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    z-index: 100;
}

.eventPromotion_cate_wrap .eventPromotion_cate_content {
    position: relative;
    width: 1170px;
    margin: 0 auto;
}

.eventPromotion_cate_wrap .tab_logo {
    position: absolute;
    width: 110px;
    height: 60px;
    left: 0;
    background: url('../images/eventPromotion/tab_logo.png') 100% no-repeat;
    display: none;
}

.eventPromotion_cate_wrap .tab_top {
    position: absolute;
    height: 32px;
    padding-top: 28px;
    right: 0;
    font-size: 13px;
    color: #bbbbbb;
    font-family: 'sw_f';
    display: none;
}

.eventPromotion_cate_wrap .tab_top::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 15px;
    background: url('../images/eventPromotion/tap_top_arrow.png') 50% 0 no-repeat;
    display: block;
    top: 18px;
    left: 0;
}

.eventPromotion_cate_wrap ul {
    width: 1170px;
    margin: 0 auto;
    font-size: 0;
}

.eventPromotion_cate_wrap ul li {
    display: inline-block;
    position: relative;
    padding-left: 24px;
    margin-left: 24px;
}

.eventPromotion_cate_wrap ul li::after {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 4px;
    height: 4px;
    background-color: #dddddd;
    border-radius: 50px;
}

.eventPromotion_cate_wrap ul li:nth-of-type(1):after {
    display: none;
}

.eventPromotion_cate_wrap ul li a {
    display: block;
    position: relative;
    font-size: 16px;
    color: #999999;
    line-height: 60px;
    font-family: 'noto_m';
}

.eventPromotion_cate_wrap ul .active a {
    color: #009223;
}

.eventPromotion_cate_wrap ul .active a::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #009223;
}

.event_content_wrap {
    width: 1170px;
    margin: 0 auto;
    position: relative;
    padding-top: 70px;
    padding-bottom: 130px;
}

.left_side {
    position: relative;
    max-width: 800px;
}

.left_side .title {
    font-size: 36px;
    color: #292929;
    font-family: 'noto_l';
    letter-spacing: -0.04em;
    line-height: 50px;
}

.left_side .event_date {
    font-size: 22px;
    color: #009223;
    font-family: 'sw_f';
    margin: 29px 0 27px;
}

.left_side .event_content_img {
    max-width: 800px;
    width: 100%;
}

.left_side .youtube_wrap {
    width: 83%;
}