.content_wrap{
    text-align: center;
    position: absolute;
    left: 0;
    width: 100%;
    border-bottom: 1px solid #e5e5e5;
    height: 59px;
    background-color: #fff;
    z-index: 5;
}
.content_wrap ul li {
    display: inline-block;
    padding-left: 24px;
    margin-left: 21px;
}
.content_wrap ul li a {
    text-decoration-line: none;
    color: white;
    font-family: 'noto_m';
    line-height:60px;
    font-size:16px;
    letter-spacing:-0.08em;
    position:relative;
}
.sandwich .img{
    background: url(/images/menuinfo_images/Sandwich/img_visual_sandwich.jpg) 50% 0 no-repeat;
    left: 0;
    /* position: absolute; */
    width: 100%;
    top: 150px;
    height: 380px;
}
