#container {
    margin-top: 8px;
    position: relative;
}
.sub_header {
    position: absolute;
    background-color: transparent;
    left: 0;
    width: 100%;
    top: 0;
    border-bottom: 1px solid #e5e5e5;
    height: 59px;
    background-color: #fff;
    z-index: 5;
}
.sub_header .sub_place {
    text-align: center;
}
.sub_header .sub_place ul {
    overflow: hidden;
    display: inline-block;
}
.sub_header .sub_place ul li {
    float: left;
    position: relative;
}
.sub_header .sub_place ul li + li {
    padding-left: 24px;
    margin-left: 21px;
}
.sub_header .sub_place ul li + li::after {
    content: "";
    width: 4px;
    height: 4px;
    background-color: #dddddd;
    border-radius: 30px;
    position: absolute;
    left: 0; 
    top: 28px;
}
.sub_header .sub_place ul li:first-child {
    margin-left: 0;
    padding-left: 0;
}
.sub_header .sub_place ul li:first-child::after {
    display: none;
}
.sub_header .sub_place ul li a {
    display: block;
    line-height: 60px;
}
.sub_header .sub_place ul li.act a {
    color: #009223; 
    font-weight: 200;
}
.sub_header .sub_place ul li.act a::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    bottom: 0 ;
    background-color: #009223;
}
.sub_header .fixed {
    border-bottom: 1px solid #e5e5e5 !important;
}
.sub_header .fixed .sub_place ul li a {
    color: #999999 !important;
}
.sub_header .fixed .sub_place ul li.act a {
    color: #009223 !important;
}
.sub_header .fixed .sub_place ul li::after {
    opacity: 1 !important;
}